
  
  .projects-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    height: 100vh; 
    /* width: 100vw; */
    margin: 0;
    padding-top: 80px;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
  }
  
  .prj-header{
    text-align: center;
  }
  
  .thumbnail{
    width: 600px;
    height: 400px;
  }
  
  .prj-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: large;
  }
  
  .ghub-ptag{
    color: black;
  }
  