.sidebar-container {
    display: flex; /* Use flex to create a column layout */
    height: 100vh; /* Set the parent container height to 100% of the viewport height */
  }
  
  .custom-sidebar {
    flex: 0 0 auto; /* Make the sidebar not grow or shrink */
    height: 100%; /* Set the Sidebar height to 100% of its parent's height */
    overflow-y: auto; /* Add scrollbars when content overflows */
  }
  